<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <img class='portrait' src="/img/vijay.jpg">
        <h1></h1>
        <h2>Vijay Bhatia</h2>
    </div>
    {{>footer}}
</body>

</html>